.cabecalho {
   display: flex;
   padding: 1rem 3rem;
   justify-content: space-between;
   padding: 1rem 5%;
}

.cabecalho_pesquisa {
   background-color: #F5F5F5;
   width: 40%;
   height: 40px;
   padding-left: 2%;
   padding-top: 0.75%;
   margin-right: 20%;
   border-radius: 35px;
   margin-left: 2%;
}

.pesquisa_texto {
   width: 80%;
   border: none;
   background-color: #F5F5F5;
   font-weight: 400;
}

.pesquisa_lupa {
   border: none;
   background-color: #F5F5F5;
   font-size: large;
}

.botao_login {
   width: 180px;
   color: #2A7AE4;
   border-color: #2A7AE4;
   background-color: #FFFFFF;
}