/* BANNER  */

.banner {
   max-width: 99%;
   height: 200px;
   background-image: url("/IMAGEM/Fundobanner.jpeg");
   background-repeat: no-repeat;
   background-position: center;   
   background-size: 100%;
   color: #FFFFFF;
   padding-left: 3rem;
   padding-top: 5rem;
   display: flex;
   flex-direction: column;
}

.banner_titulo {
   font-weight: 700;
   font-size: 52px;
   margin-bottom: 0.9rem;
}

.banner_paragrafo {
   font-weight: 700;
   font-size: 22px;
   margin-bottom: 0.9rem;
}


.banner_botao {
   margin-bottom: 0;
   width: 200px;
}

/* GALERIA  */

.galeria {
   padding: 0 3rem;
   background-color: #E5E5E5;
   padding-bottom: 3rem;
}

.divisao_topo {   
   display: flex;
   justify-content: space-between;
   font-weight: 700;
   align-items: center;
   padding-top: 2rem;
   max-width: 100%;
   padding: 2rem 1rem;
   padding-bottom: 0.5rem;
}

.divisao_lista {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 2%;
}

.divisao_titulo {
   font-size: 32px;
}

.divisao_link {
   font-size: 16px;
}

/* DIVISÃO ITEM  */

.divisao_item {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 215px;
   gap: 2px;
   flex-shrink: 1;
}

.item_imagem {
   width: 150px;
   height: 149px;
}

.item_nome {
   font-weight: 500;
   font-size: 14px;
   word-spacing: -1px;
}

.item_preco {
   font-weight: 700;
}

   @media (max-width: 915px) {
   
      /* BANNER  */
   
      .banner {
         padding-left: 2rem;
      }
   
      /* MAIN  */
   
      .galeria {
         padding: 0 1rem;
         padding-bottom: 3rem;
      }

      .divisao_lista {
         gap: 1%;
         flex-shrink: 1;
      }
   
      .divisao_item:nth-child(6) {
         display: none;
      }
   
      .divisao_item:nth-child(5) {
         display: none;
      }
   }