html {
   font-family: 'Raleway', sans-serif;
}

.botao {
   padding: 16px;
   font-weight: 400;
   font-size: 16px;
   border: 2px solid;
   width: 100px;
}

.link {
   text-decoration: none;
   color: #2A7AE4;
   font-weight: 700;
}

.botao_azul {
   background-color: #2A7AE4;
   border-color: #FFFFFF;
   color: #FFFFFF;
   padding: 16px;
   font-weight: 600;
   width: 200px;
}

textarea:focus, input:focus, select:focus {
   box-shadow: 0 0 0 0;
   border: 0 none;
   outline: 0;
} 
