html {
   font-family: 'Raleway', sans-serif;
}

.botao {
   padding: 16px;
   font-weight: 400;
   font-size: 16px;
   border: 2px solid;
   width: 100px;
}

.link {
   text-decoration: none;
   color: #2A7AE4;
   font-weight: 700;
}

.botao_azul {
   background-color: #2A7AE4;
   border: none;
   color: #FFFFFF;
   padding: 16px;
   font-weight: 600;
   width: 200px;
   box-shadow: 0 0 0 0;
   transition: 1s;
   border-radius: 5px;
}

.botao_azul:hover {
   background-color: #5595E9;
}

.botao_branco {
   transition: 1s;
   border-radius: 5px;
}

.botao_branco:hover {
   background-color: #D4E4FA;
}

textarea:focus, input:focus, select:focus {
   box-shadow: 0 0 0 0;
   border: 0 none;
   outline: 0;
} 

@media (max-width: 480px) {
   .botao {
      width: 80px;
   }
}
